name: Build
on: push
jobs:
  build:
    runs-on:
      group: larger
    env:
      ALCHEMY_KEY: '${{secrets.ALCHEMY_KEY}}'
    strategy:
      matrix:
        node-version:
          - 16.x
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x.x
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Install Dependencies
        run: npm ci
      - name: Compilation
        run: 'npm run compile'
      - name: Lint check
        run: 'npm run prettier:check'
      - name: Test
        env:
          NODE_OPTIONS: '--max_old_space_size=4096'
        run: 'npm run test'
